/* Generated variable CSS from sugarcube */
@import 'global/tokens.variables.gen.css';

@import 'global/reset.css';
@import 'global/fonts.css';
@import 'global/variables.css';
@import 'global/global-styles.css';

@import-glob 'blocks/*.css';
@import-glob 'compositions/*.css';
@import-glob 'utilities/*.css';

/* Generated utility classes from sugarcube (optional). Uncomment to enable */
@import 'utilities/utilities.gen.css';
